<div class="form_wrappers">
  <h3 class="center">Ingredients</h3>
  <ul>
    <% if @recipe.ingredients.any?() %>
      <% @recipe.ingredients.each() do |ingredient| %>
      <li class="ingredients_list_form"><%= ingredient.name() %> ( <%= ingredient.amount() %> <%= ingredient.unit() %> )</li>
      <% end %>
    <% else %>
      <li class="prompt">Please add an ingredient.</li>
    <% end %>
  </ul>
  <br>
  <form id="ingredient_form" action="/ingredients/create" method="post">
    <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">
    <h3 class="center">Add Ingredients</h3>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="ingredient_name">
        <label for="ingredient_name">Ingredient:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" name="amount">
        <label for="amount">Amount:</label>
      </div>
      <div class="input-field col s6">
        <label for="unit">Unit:  </label>
        <input type="text" name="unit">
      </div>
    </div>
    <div class="center">
      <button id="ingredient_submit" class="center submit" onclick="submitIngredients()" type="submit" name="button">Add Ingredient</button>
    </div>
  </form>
</div>
